.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  --bg-color: rgba(226, 229, 233, 0.5);
  overflow: hidden;
}

.nav_main {
  width: 80%;
  max-width: 420px;
  font-size: 18px;
  z-index: 9;
  background-color: hsl(var(--hue), 10%, 95%);
  position: relative;
  /* overflow: hidden; */
  border-radius: 17px;
}
@media (prefers-color-scheme: dark) {
  .nav_main {
    background-color: hsl(var(--hue), 10%, 10%) ;
    color: hsl(var(--hue), 10%, 95%);
  }

}
.nav_main:before {
  background-color: hsl(223, 90%, 60%);
  border-radius: 50%;
  content: "";
  filter: blur(60px);
  opacity: 0.15;
  position: absolute;
  top: -8em;
  right: -15em;
  width: 25em;
  height: 25em;
  z-index: 0;
  transition: background-color var(--trans-dur);
}
/* Nav elements */
.nav-el {
  font-size: 18px;
  position: relative;
  display: block;
  float: right;
  width: 47.5%;
  padding-bottom: 47.5%;
  border-radius: 17px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.3);
  /* backdrop-filter: blur(1px); */
  transition: background-color 0.3s ease-in;
  z-index: 10;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
}

.nav-el span {
  position: absolute;
  margin-top: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.nav-el:hover {
  background-color: var(--bg-color);
}
.nav-el.active {
  background-color: rgba(193, 198, 202, 0.3);
}
.nav-el.active_reverse {
  background-color: transparent;
}

/******************************
.nav anim + reverse
******************************/
@keyframes fx-box_rotate {
  50% {
    transform: rotate(225deg);
  }

  100% {
    transform: rotate(225deg);
  }
}

@-moz-keyframes fx-box_rotate {
  50% {
    -moz-transform: rotate(225deg);
  }

  100% {
    -moz-transform: rotate(225deg);
  }
}

@-webkit-keyframes fx-box_rotate {
  50% {
    -webkit-transform: rotate(225deg);
  }

  100% {
    -webkit-transform: rotate(225deg);
  }
}

.nav_main.fx-box_rotate {
  animation: fx-box_rotate 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-box_rotate 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-box_rotate 1.6s 1 ease-in-out forwards;
}

/* Active button always on top */
.nav-el.active,
.nav-el.active_reverse {
  z-index: 11;
}

/* Prevent click/hover on inactive buttons */
.nav-el.inactive {
  pointer-events: none;
  cursor: default;
}

/* Specific floating and margin */
.nav-el:nth-of-type(2n + 1) {
  float: left;
}

.nav-el:nth-of-type(n + 3) {
  margin-top: 5%;
}

/******************************
.nav-el.active anim
******************************/
@keyframes fx-el_topleft-active {
  0% {
    transform: translate3d(0%, 0%, 0);
  }

  33% {
    transform: translate3d(5.3%, 5.3%, 0) scale(1);
    color: #fff;
  }

  40% {
    color: #fff;
  }

  50% {
    color: transparent;
  }
  100% {
    transform: translate3d(5.3%, 5.3%, 0) scale(10);
  }
}

@keyframes fx-el_topright-active {
  0% {
    transform: translate3d(0%, 0%, 0);
  }

  33% {
    transform: translate3d(-5%, 5%, 0) scale(1);
    color: #fff;
  }

  40% {
    color: #fff;
  }

  50% {
    color: transparent;
  }

  100% {
    transform: translate3d(-5%, 5%, 0) scale(10);
    color: transparent;
  }
}

@keyframes fx-el_btmleft-active {
  0% {
    transform: translate3d(0%, 0%, 0);
  }

  33% {
    transform: translate3d(5%, -5%, 0) scale(1);
    color: #fff;
  }

  40% {
    color: #fff;
  }

  50% {
    color: transparent;
  }

  100% {
    transform: translate3d(5%, -5%, 0) scale(10);
    color: transparent;
  }
}

@keyframes fx-el_btmright-active {
  0% {
    transform: translate3d(0%, 0%, 0);
  }

  33% {
    transform: translate3d(-5%, -5%, 0) scale(1);
    color: #fff;
  }

  40% {
    color: #fff;
  }

  50% {
    color: transparent;
  }

  100% {
    transform: translate3d(-5%, -5%, 0) scale(10);
    color: transparent;
  }
}

@-webkit-keyframes fx-el_topleft-active {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }

  33% {
    -webkit-transform: translate3d(5%, 5%, 0) scale(1);
    color: #fff;
  }

  40% {
    color: #fff;
  }

  50% {
    color: transparent;
  }

  100% {
    -webkit-transform: translate3d(5%, 5%, 0) scale(10);
    color: transparent;
  }
}

@-webkit-keyframes fx-el_topright-active {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }

  33% {
    -webkit-transform: translate3d(-5%, 5%, 0) scale(1);
    color: #fff;
  }

  40% {
    color: #fff;
  }

  50% {
    color: transparent;
  }

  100% {
    -webkit-transform: translate3d(-5%, 5%, 0) scale(10);
    color: transparent;
  }
}

@-webkit-keyframes fx-el_btmleft-active {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }

  33% {
    -webkit-transform: translate3d(5%, -5%, 0) scale(1);
    color: #fff;
  }

  40% {
    color: #fff;
  }

  50% {
    color: transparent;
  }

  100% {
    -webkit-transform: translate3d(5%, -5%, 0) scale(10);
    color: transparent;
  }
}

@-webkit-keyframes fx-el_btmright-active {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }

  33% {
    -webkit-transform: translate3d(-5%, -5%, 0) scale(1);
    color: #fff;
  }

  40% {
    color: #fff;
  }

  50% {
    color: transparent;
  }

  100% {
    -webkit-transform: translate3d(-5%, -5%, 0) scale(10);
    color: transparent;
  }
}

#el-topleft.active {
  animation: fx-el_topleft-active 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_topleft-active 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_topleft-active 1.6s 1 ease-in-out forwards;
}

#el-topright.active {
  animation: fx-el_topright-active 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_topright-active 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_topright-active 1.6s 1 ease-in-out forwards;
}

#el-btmleft.active {
  animation: fx-el_btmleft-active 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_btmleft-active 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_btmleft-active 1.6s 1 ease-in-out forwards;
}

#el-btmright.active {
  animation: fx-el_btmright-active 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_btmright-active 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_btmright-active 1.6s 1 ease-in-out forwards;
}

/******************************
  .nav-el.inactive anim
  ******************************/
@keyframes fx-el_topleft-inactive {
  0% {
    transform: translate(0%, 0%);
    color: #fff;
  }

  33% {
    transform: translate(5.3%, 5.3%);
    color: #3498db;
  }

  100% {
    transform: translate(5.3%, 5.3%);
    color: #3498db;
  }
}

@keyframes fx-el_topright-inactive {
  0% {
    transform: translate(0%, 0%);
    color: #fff;
  }

  33% {
    transform: translate(-5.3%, 5.3%);
    color: #3498db;
  }

  100% {
    transform: translate(-5.3%, 5.3%);
    color: #3498db;
  }
}

@keyframes fx-el_btmleft-inactive {
  0% {
    transform: translate(0%, 0%);
    color: #fff;
  }

  33% {
    transform: translate(5.3%, -5.3%);
    color: #3498db;
  }

  100% {
    transform: translate(5.3%, -5.3%);
    color: #3498db;
  }
}

@keyframes fx-el_btmright-inactive {
  0% {
    transform: translate(0%, 0%);
    color: #fff;
  }

  33% {
    transform: translate(-5.3%, -5.3%);
    color: #3498db;
  }

  100% {
    transform: translate(-5.3%, -5.3%);
    color: #3498db;
  }
}

@-moz-keyframes fx-el_topleft-inactive {
  0% {
    -moz-transform: translate3d(0%, 0%, 0);
    color: #fff;
  }

  33% {
    -moz-transform: translate3d(5.3%, 5.3%, 0);
    color: #3498db;
  }

  100% {
    -moz-transform: translate3d(5.3%, 5.3%, 0);
    color: #3498db;
  }
}

@-moz-keyframes fx-el_topright-inactive {
  0% {
    -moz-transform: translate3d(0%, 0%, 0);
    color: #fff;
  }

  33% {
    -moz-transform: translate3d(-5.3%, 5.3%, 0);
    color: #3498db;
  }

  100% {
    -moz-transform: translate3d(-5.3%, 5.3%, 0);
    color: #3498db;
  }
}

@-moz-keyframes fx-el_btmleft-inactive {
  0% {
    -moz-transform: translate3d(0%, 0%, 0);
    color: #fff;
  }

  33% {
    -moz-transform: translate3d(5.3%, -5.3%, 0);
    color: #3498db;
  }

  100% {
    -moz-transform: translate3d(5.3%, -5.3%, 0);
    color: #3498db;
  }
}

@-moz-keyframes fx-el_btmright-inactive {
  0% {
    -moz-transform: translate3d(0%, 0%, 0);
    color: #fff;
  }

  33% {
    -moz-transform: translate3d(-5.3%, -5.3%, 0);
    color: #3498db;
  }

  100% {
    -moz-transform: translate3d(-5.3%, -5.3%, 0);
    color: #3498db;
  }
}

@-webkit-keyframes fx-el_topleft-inactive {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
    color: #fff;
  }

  33% {
    -webkit-transform: translate3d(5.3%, 5.3%, 0);
    color: #3498db;
  }

  100% {
    -webkit-transform: translate3d(5.3%, 5.3%, 0);
    color: #3498db;
  }
}

@-webkit-keyframes fx-el_topright-inactive {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
    color: #fff;
  }

  33% {
    -webkit-transform: translate3d(-5.3%, 5.3%, 0);
    color: #3498db;
  }

  100% {
    -webkit-transform: translate3d(-5.3%, 5.3%, 0);
    color: #3498db;
  }
}

@-webkit-keyframes fx-el_btmleft-inactive {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
    color: #fff;
  }

  33% {
    -webkit-transform: translate3d(5.3%, -5.3%, 0);
    color: #3498db;
  }

  100% {
    -webkit-transform: translate3d(5.3%, -5.3%, 0);
    color: #3498db;
  }
}

@-webkit-keyframes fx-el_btmright-inactive {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
    color: #fff;
  }

  33% {
    -webkit-transform: translate3d(-5.3%, -5.3%, 0);
    color: #3498db;
  }

  100% {
    -webkit-transform: translate3d(-5.3%, -5.3%, 0);
    color: #3498db;
  }
}

#el-topleft.inactive {
  animation: fx-el_topleft-inactive 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_topleft-inactive 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_topleft-inactive 1.6s 1 ease-in-out forwards;
}

#el-topright.inactive {
  animation: fx-el_topright-inactive 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_topright-inactive 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_topright-inactive 1.6s 1 ease-in-out forwards;
}

#el-btmleft.inactive {
  animation: fx-el_btmleft-inactive 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_btmleft-inactive 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_btmleft-inactive 1.6s 1 ease-in-out forwards;
}

#el-btmright.inactive {
  animation: fx-el_btmright-inactive 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_btmright-inactive 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_btmright-inactive 1.6s 1 ease-in-out forwards;
}

@keyframes fx-el_topleft-active {
  0% {
    transform: translate3d(0%, 0%, 0) scale(1);
  }

  35% {
    transform: translate3d(-55.1%, -55.1%, -150px) scale(0.9) rotate(35deg)
      rotateY(35deg) rotateX(35deg);
  }

  40% {
    color: transparent;
  }

  100% {
    transform: translate3d(55.1%, 55.1%, -150px) scale(20);
    color: transparent;
  }
}

@keyframes fx-el_topright-active {
  0% {
    transform: translate3d(0%, 0%, 0) scale(1);
  }

  35% {
    transform: translate3d(65.1%, -40%, -150px) scale(0.5) rotate(70deg)
      rotateY(35deg) rotateX(35deg);
  }

  40% {
    color: transparent;
  }

  100% {
    transform: translate3d(-55.1%, 55.1%, 0) scale(20);
    color: transparent;
  }
}

@keyframes fx-el_btmleft-active {
  0% {
    transform: translate3d(0%, 0%, 0) scale(1);
  }

  35% {
    transform: translate3d(-70.1%, 35.1%, -150px) scale(0.7) rotate(15deg)
      rotateY(35deg) rotateX(35deg);
  }

  40% {
    color: transparent;
  }

  100% {
    transform: translate3d(55.1%, -55.1%, 0) scale(20);
    color: transparent;
  }
}

@keyframes fx-el_btmright-active {
  0% {
    transform: translate3d(0%, 0%, 0) scale(1);
  }

  35% {
    transform: translate3d(-10%, 75.1%, -150px) scale(0.8) rotate(27deg)
      rotateY(35deg) rotateX(35deg);
  }

  40% {
    color: transparent;
  }

  100% {
    transform: translate3d(-55.1%, -55.1%, 0) scale(20);
    color: transparent;
  }
}

@-moz-keyframes fx-el_topleft-active {
  0% {
    -moz-transform: translate3d(0%, 0%, 0) scale(1);
  }

  35% {
    -moz-transform: translate3d(-55.1%, -55.1%, -150px) scale(0.9) rotate(35deg)
      rotateY(35deg) rotateX(35deg);
  }

  40% {
    color: transparent;
  }

  100% {
    -moz-transform: translate3d(55.1%, 55.1%, -150px) scale(20);
    color: transparent;
  }
}

@-moz-keyframes fx-el_topright-active {
  0% {
    -moz-transform: translate3d(0%, 0%, 0) scale(1);
  }

  35% {
    -moz-transform: translate3d(65.1%, -40%, -150px) scale(0.5) rotate(70deg)
      rotateY(35deg) rotateX(35deg);
  }

  40% {
    color: transparent;
  }

  100% {
    -moz-transform: translate3d(-55.1%, 55.1%, 0) scale(20);
    color: transparent;
  }
}

@-moz-keyframes fx-el_btmleft-active {
  0% {
    -moz-transform: translate3d(0%, 0%, 0) scale(1);
  }

  35% {
    -moz-transform: translate3d(-70.1%, 35.1%, -150px) scale(0.7) rotate(15deg)
      rotateY(35deg) rotateX(35deg);
  }

  40% {
    color: transparent;
  }

  100% {
    -moz-transform: translate3d(55.1%, -55.1%, 0) scale(20);
    color: transparent;
  }
}

@-moz-keyframes fx-el_btmright-active {
  0% {
    -moz-transform: translate3d(0%, 0%, 0) scale(1);
  }

  35% {
    -moz-transform: translate3d(-10%, 75.1%, -150px) scale(0.8) rotate(27deg)
      rotateY(35deg) rotateX(35deg);
  }

  40% {
    color: transparent;
  }

  100% {
    -moz-transform: translate3d(-55.1%, -55.1%, 0) scale(20);
    color: transparent;
  }
}

@-webkit-keyframes fx-el_topleft-active {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0) scale(1);
  }

  35% {
    -webkit-transform: translate3d(-55.1%, -55.1%, -150px) scale(0.9)
      rotate(35deg) rotateY(35deg) rotateX(35deg);
  }

  40% {
    color: transparent;
  }

  100% {
    -webkit-transform: translate3d(55.1%, 55.1%, -150px) scale(20);
    color: transparent;
  }
}

@-webkit-keyframes fx-el_topright-active {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0) scale(1);
  }

  35% {
    -webkit-transform: translate3d(65.1%, -40%, -150px) scale(0.5) rotate(70deg)
      rotateY(35deg) rotateX(35deg);
  }

  40% {
    color: transparent;
  }

  100% {
    -webkit-transform: translate3d(-55.1%, 55.1%, 0) scale(20);
    color: transparent;
  }
}

@-webkit-keyframes fx-el_btmleft-active {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0) scale(1);
  }

  35% {
    -webkit-transform: translate3d(-70.1%, 35.1%, -150px) scale(0.7)
      rotate(15deg) rotateY(35deg) rotateX(35deg);
  }

  40% {
    color: transparent;
  }

  100% {
    -webkit-transform: translate3d(55.1%, -55.1%, 0) scale(20);
    color: transparent;
  }
}

@-webkit-keyframes fx-el_btmright-active {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0) scale(1);
  }

  35% {
    -webkit-transform: translate3d(-10%, 75.1%, -150px) scale(0.8) rotate(27deg)
      rotateY(35deg) rotateX(35deg);
  }

  40% {
    color: transparent;
  }

  100% {
    -webkit-transform: translate3d(-55.1%, -55.1%, 0) scale(20);
    color: transparent;
  }
}

#el-topleft.active {
  animation: fx-el_topleft-active 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_topleft-active 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_topleft-active 1.6s 1 ease-in-out forwards;
}

#el-topright.active {
  animation: fx-el_topright-active 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_topright-active 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_topright-active 1.6s 1 ease-in-out forwards;
}

#el-btmleft.active {
  animation: fx-el_btmleft-active 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_btmleft-active 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_btmleft-active 1.6s 1 ease-in-out forwards;
}

#el-btmright.active {
  animation: fx-el_btmright-active 1.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_btmright-active 1.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_btmright-active 1.6s 1 ease-in-out forwards;
}

/******************************
  .nav-el.inactive anim
  ******************************/
@keyframes fx-el_topleft-inactive {
  0% {
    transform: translate3d(0%, 0%, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate3d(-55.1%, -55.1%, -150px) scale(0.9) rotate(35deg)
      rotateY(35deg) rotateX(35deg);
    color: transparent;
    opacity: 0;
  }
}

@keyframes fx-el_topright-inactive {
  0% {
    transform: translate3d(0%, 0%, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate3d(65.1%, -40%, -150px) scale(0.5) rotate(70deg)
      rotateY(35deg) rotateX(35deg);
    color: transparent;
    opacity: 0;
  }
}

@keyframes fx-el_btmleft-inactive {
  0% {
    transform: translate3d(0%, 0%, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate3d(-70.1%, 35.1%, -150px) scale(0.7) rotate(15deg)
      rotateY(35deg) rotateX(35deg);
    color: transparent;
    opacity: 0;
  }
}

@keyframes fx-el_btmright-inactive {
  0% {
    transform: translate3d(0%, 0%, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate3d(-10%, 75.1%, -150px) scale(0.8) rotate(27deg)
      rotateY(35deg) rotateX(35deg);
    color: transparent;
    opacity: 0;
  }
}

@-moz-keyframes fx-el_topleft-inactive {
  0% {
    -moz-transform: translate3d(0%, 0%, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    -moz-transform: translate3d(-55.1%, -55.1%, -150px) scale(0.9) rotate(35deg)
      rotateY(35deg) rotateX(35deg);
    color: transparent;
    opacity: 0;
  }
}

@-moz-keyframes fx-el_topright-inactive {
  0% {
    -moz-transform: translate3d(0%, 0%, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    -moz-transform: translate3d(65.1%, -40%, -150px) scale(0.5) rotate(70deg)
      rotateY(35deg) rotateX(35deg);
    color: transparent;
    opacity: 0;
  }
}

@-moz-keyframes fx-el_btmleft-inactive {
  0% {
    -moz-transform: translate3d(0%, 0%, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    -moz-transform: translate3d(-70.1%, 35.1%, -150px) scale(0.7) rotate(15deg)
      rotateY(35deg) rotateX(35deg);
    color: transparent;
    opacity: 0;
  }
}

@-moz-keyframes fx-el_btmright-inactive {
  0% {
    -moz-transform: translate3d(0%, 0%, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    -moz-transform: translate3d(-10%, 75.1%, -150px) scale(0.8) rotate(27deg)
      rotateY(35deg) rotateX(35deg);
    color: transparent;
    opacity: 0;
  }
}

@-webkit-keyframes fx-el_topleft-inactive {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(-55.1%, -55.1%, -150px) scale(0.9)
      rotate(35deg) rotateY(35deg) rotateX(35deg);
    color: transparent;
    opacity: 0;
  }
}

@-webkit-keyframes fx-el_topright-inactive {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(65.1%, -40%, -150px) scale(0.5) rotate(70deg)
      rotateY(35deg) rotateX(35deg);
    color: transparent;
    opacity: 0;
  }
}

@-webkit-keyframes fx-el_btmleft-inactive {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(-70.1%, 35.1%, -150px) scale(0.7)
      rotate(15deg) rotateY(35deg) rotateX(35deg);
    color: transparent;
    opacity: 0;
  }
}

@-webkit-keyframes fx-el_btmright-inactive {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(-10%, 75.1%, -150px) scale(0.8) rotate(27deg)
      rotateY(35deg) rotateX(35deg);
    color: transparent;
    opacity: 0;
  }
}

#el-topleft.inactive {
  animation: fx-el_topleft-inactive 0.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_topleft-inactive 0.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_topleft-inactive 0.6s 1 ease-in-out forwards;
}

#el-topright.inactive {
  animation: fx-el_topright-inactive 0.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_topright-inactive 0.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_topright-inactive 0.6s 1 ease-in-out forwards;
}

#el-btmleft.inactive {
  animation: fx-el_btmleft-inactive 0.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_btmleft-inactive 0.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_btmleft-inactive 0.6s 1 ease-in-out forwards;
}

#el-btmright.inactive {
  animation: fx-el_btmright-inactive 0.6s 1 ease-in-out forwards;
  -moz-animation: fx-el_btmright-inactive 0.6s 1 ease-in-out forwards;
  -webkit-animation: fx-el_btmright-inactive 0.6s 1 ease-in-out forwards;
}
